@model IEnumerable<LIEA_System.Models.Compra>

@{
    ViewData["Title"] = "Index";
}

<h1 class="alert-dark text-center">Compras Realizadas</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Realizar Compra</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora_Compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Compra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora_Compra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proveedor.Id_Proveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <!--
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Compra">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Compra">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Compra">Delete</a>
            </td>
                -->
        </tr>
}
    </tbody>
</table>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <!--Scrip de agregar-->
    <script>
        var agregar = '@TempData["Agregar"]';
        //var mensaje = '@ViewBag.Mensaje';
        if (agregar) {
            Swal.fire({
                position: "center",
                icon: "info",
                title: agregar,
                text: "Revisa las existencias del producto para ver los cambios",
                showConfirmButton: false,
                timer: 2500
            });
        }
    </script>

}
