@model LIEA_System.Models.Venta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Venta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Venta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Venta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora_Venta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora_Venta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Id_Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_Venta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
